# Environment variables - contains sensitive API keys
.env
.venv
venv

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

user_input.py

credentials/

# Output data
output/
closed_pnl_data.csv
pnl_analysis.png
report_plots

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Pre-commit
.pre-commit-config.yaml.orig

# Testing
.coverage
.pytest_cache/
.mypy_cache/
.tox/
.coverage.*
htmlcov/
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints
